@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
html, body {
  margin: 20px;
}

.checkbox-item{
  float: left;
  margin-right: 8px;
}

.form-control.custom {
  padding: 0px;
}

