{{!-- <span>hori</span>
<div  {{bind-attr class=":form-group :has-feedback isValid:has-success:has-error "}}>
  {{yield}}
  <span {{bind-attr class=":glyphicon :form-control-feedback isValid:glyphicon-ok:glyphicon-remove"}} ></span>
</div> --}}
horizontal
