{{#validate-with propertyBinding="user.login"}}
  <label class="control-label" for="login">
    {{validate-message}}
  </label>
  {{input value=user.login class="form-control" id="login"}}
{{/validate-with}}

