<h2>block syntax</h2>
{{#validate-with propertyBinding="user.login"}}
  <label>
    {{validate-message}}
  </label>
  {{input valueBinding="user.login"}}
{{/validate-with}}

<hr/>
<h2>inline syntax</h2>
{{input-validate propertyBinding="user.login"}}